.global-container {
    max-width: 1920px;
    margin: 0 auto;
  }
  video {
    object-fit: cover;
  }

 
.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* pour eviter sur toutes les cards */
.card {
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
}

.btn-custom {
    align-self: flex-start;
    width: auto;
}

.parallax-section {
  background: url('ressources/parallax.jpg') no-repeat bottom / cover fixed; 
  min-height: 250px;
}